td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0;
}

.btn-success {
  margin-left: 2px !important;
}

.btn-default {
  margin-left: 2px !important; 
}
